body{
	background-size: auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #b2b8b2;
	background-position:center;
	color: white;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
}